html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
  }
  head{
      background-image: url("https://i.imgur.com/QMTAF0m.png")no-repeat top center;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: Courier, 'Courier New', monospace;
    font-size: 1.6rem;
    background-color: rgb(0, 0, 0);
    background-image: url("https://downloadhdwallpapers.in/wp-content/uploads/2018/01/World-Of-Warcraft-Battle-For-Azeroth-4K-8K-1920x1200.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    /* background: #fff; */
    color: rgb(214, 243, 47);
  }
  
  a {
    color: rgb(145, 7, 131);
    /*background-color: rgb(0, 0, 0);*/
  }
  
  main {
    margin: 2rem 0;
    text-align: center;
  }
  
  #game {
    border: 1px solid #333;
  }
  
  footer {
    text-align: center;
  }