html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: Courier, 'Courier New', monospace;
    font-size: 1.6rem;
    background-color: rgb(0, 0, 0);
    background-image: url("http://i0.kym-cdn.com/photos/images/original/001/135/790/de4.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    /* background: #fff; */
    color: rgb(214, 243, 47);
  }
  
  a {
    color: rgb(197, 38, 184);
  }
  
  main {
    margin: 2rem 0;
    text-align: center;
  }
  
  #game {
    border: 1px solid #333;
  }
  
  footer {
    text-align: center;
  }