html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: Courier, 'Courier New', monospace;
    font-size: 1.6rem;
    background-color: rgb(0, 0, 0);
    background-image: url("https://i.pinimg.com/originals/79/f8/bf/79f8bf43a71de5e0d3a9e48b0de996ed.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    /* background: #fff; */
    color: rgb(214, 243, 47);
  }
  
  a {
    color: rgb(46, 3, 42);
    /*background-color: rgb(0, 0, 0);*/
  }
  
  main {
    margin: 2rem 0;
    text-align: center;
  }
  
  #game {
    border: 1px solid #333;
  }
  
  footer {
    text-align: center;
  }